body {
  font-size:1em;
  font-family: sans-serif;
  padding:0;
  margin:0;
  height:100%;
}

.markup_importer {
  textarea {
    display:block;
    margin:2px auto;
    width:98%;
    min-height:200px;
    padding:5px;
  }
  button {
    border:1px solid #ccc;
    border-radius: 5px;
  }
}

#display_char {
 font-size:5em;
 position:absolute;
 bottom:0;
 right:0;
 text-decoration: underline; 
 margin:15px;
 padding:25px;
 border:1px #ccc solid;
 width:100px;
 height:100px;
 text-align:center;
 line-height: 100px;
}